<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/html5-doctor-reset-stylesheet.min.css">
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/jquery.modal.css" type="text/css">
    <title>Alex's page</title>
  </head>

  <body>
    <header>
      <img id="photo" src="../img/alex.png">
      <div id="about">Good luck Alex!</div>
      <a href="#test-post" rel="modal:open">Share your love</a>
    </header>

      <form class="modal" method="POST" id="test-post">
        <input id="name" placeholder="Name">
        <select id="cohort">
            <option value="" default selected>Tell us who you are!</option>
            <option value="Sep 2014">September '14</option>
            <option value="Aug 2014">August '14</option>
            <option value="Jun 2014">June '14</option>
            <option value="May 2014">May '14</option>
            <option value="Mar 2014">March '14</option>
            <option value="Fed 2014">February '14</option>
            <option value="Jan 2014">January '14</option>
            <option value="Nov 2014">November '13</option>
            <option value="Oct 2013">October '13</option>
            <option value="Sep 2013">September '13</option>
            <option value="Aug 2013">August '13</option>
            <option value="Jul 2013">July '13</option>
            <option value="Jun 2013">June '13</option>
            <option value="Staff">Staff</option>
            <option value="Other">Other</option>
        </select>
        <textarea rows="4" cols="50" form="test-form" id="message" placeholder="Insert love here"></textarea>
        <button type="submit">Submit message</button>
      </form>

    <br clear="all">

    <script> DATABASE = '<%= @database %>' </script>
   
  <section class="message-container"></section>

    <script type="text/javascript" charset="utf-8" src="script/mustache.js"></script>

    <script src="script/jquery-2.1.1.min.js"></script>
    <script src="script/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js" type="text/javascript"></script>
    <script src="script/postandretrieve.js" type="text/javascript"></script>
    <script src="script/interface.js"></script>
  </body>
</html>
