<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/html5-doctor-reset-stylesheet.min.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,400,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="css/jquery.modal.css">
    <title>Alex's Page</title>
  </head>

  <body>
    <header>
      <img id="photo" src="img/alex.png">
      <div id="about">
      	<h1>Good luck Alex!</h1>
      	<p>Alex is leaving Makers Academy after sharing his time, skills, and all-around amazingness with us for the past 14 months. Let him know how much you will miss him!</p>
      </div>
      <a href="#message-input" rel="modal:open">Share your love</a>
    </header>

    <form class="modal" method="POST" id="message-input">
      <input id="name" placeholder="Name">
      <select id="cohort">
          <option value="" default selected>Tell us who you are!</option>
          <option value="SEP 2014">September '14</option>
          <option value="AUG 2014">August '14</option>
          <option value="JUN 2014">June '14</option>
          <option value="MAY 2014">May '14</option>
          <option value="MAR 2014">March '14</option>
          <option value="FEB 2014">February '14</option>
          <option value="JAN 2014">January '14</option>
          <option value="NOV 2014">November '13</option>
          <option value="OCT 2013">October '13</option>
          <option value="SEP 2013">September '13</option>
          <option value="AUG 2013">August '13</option>
          <option value="JUL 2013">July '13</option>
          <option value="JUN 2013">June '13</option>
          <option value="STAFF">Staff</option>
          <option value="OTHER">Other</option>
      </select>
      <textarea rows="7" cols="45" form="message-input" id="message-content" placeholder="Insert love here"></textarea>
      <button type="submit">Submit message</button>
    </form>

    <br clear="all">
   
  	<section class="message-container"></section>

  	<br clear="all">

  	<footer></footer>

    <script> DATABASE = '<%= @database %>' </script>
    <script type="text/javascript" charset="utf-8" src="js/mustache.js"></script>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js" type="text/javascript"></script>
    <script src="js/postandretrieve.js" type="text/javascript"></script>
    <script src="js/interface.js"></script>
  </body>
</html>
