<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="css/normalize.css/normalize.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="jquery.modal.css" type="text/css" media="screen" />
    <title>Alex, you're the best!</title>
  </head>
      <body>
      <h1>Good luck, we'll miss you!</h1>

      <main class="alex-is-fab">
        <img src="img/alex.jpg" alt="We'll miss you!" class="img-circular">
        <form class="alex"> </form>
  
      </main>

      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>

    </body>
</html>
