<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="css/html5-doctor-reset-stylesheet.min.css">
  <title>test page</title>
</head>

<body>
  <h1><font size="72px">ALEX'S LEAVING CARD</font></h1>
  <img src="img/alex.jpg">
  <br>
  <br>
  We apologise for the lack of CSS, we are currently hacking away to make it pretty. Please check later this evening to see what Alex received...
  <br>
  <br>
  If you have messed up your message, please send an e-mail to <a href="mailto:spike01@outlook.com?Subject=Alex%20leaving%20card">Spike</a> with your name and what you messed up and he will do his best to remove it. Then post a correct one!
  <br>
  <br>
  Thank you for taking the time to leave Alex a message! -The leavingCard.js team: Ethel, Ruth, James, Dave and Spike
  <br>
  <br>
  Please leave your message after the &lt;br&gt;:
  <br>
  <br>
  <form method="POST" id="test-post">
    <input id="name" placeholder="name">
    <select id="cohort">
        <option value="" default selected>Tell us who you are!</option>
        <option value="Sep 2014">September '14</option>
        <option value="Aug 2014">August '14</option>
        <option value="Jun 2014">June '14</option>
        <option value="May 2014">May '14</option>
        <option value="Mar 2014">March '14</option>
        <option value="Feb 2014">February '14</option>
        <option value="Jan 2014">January '14</option>
        <option value="Nov 2013">November '13</option>
        <option value="Oct 2013">October '13</option>
        <option value="Sep 2013">September '13</option>
        <option value="Jul 2013">July '13</option>
        <option value="Jun 2013">June '13</option>
        <option value="Staff">Staff</option>
        <option value="Other">Other</option>
    </select>
    <input id="message" placeholder="message">
  <button type="submit">Submit message</button>
</form>
<br>
<br>
<section class="message-container">
  <template id="message-template">
    <article class="this-message">
      <h1 class="student-name">{{name}}</h1>
      <h2 class="student-cohort">{{cohort}}</h2>
      <p class="student-message">{{message}}</p>
    </article>
  </template>
</section>
  <script src="script/jquery-2.1.1.min.js"></script>
  <script src="script/jquery.modal.min.js" type="text/javascript" charset="utf-9"></script>
  <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js" type="text/javascript"></script>
  <script src="script/postandretrieve.js" type="text/javascript"></script>
</body>
</html>
