<form id="goodbye_form" method="POST">
  <input id="name" placeholder="Your name here">
  <select name="cohort" id="cohort">
	<option value="" default selected>Cohort</option>
	<option value="sep14">September '14</option>
	<option value="aug14">August '14</option>
	<option value="jun14">June '14</option>
	<option value="may14">May '14</option>
	<option value="mar14">March '14</option>
	<option value="feb14">February '14</option>
	<option value="jan14">January '14</option>
	<option value="nov13">November '13</option>
	<option value="oct13">October '13</option>
	<option value="sep13">September '13</option>
	<option value="jul13">July '13</option>
	<option value="jun13">June '13</option>
</select>
  <input id="unhappy_message" placeholder="Tell Alex how much you miss him here">
  <button type="submit">Submit</button>
 </form>
