body {
  	font-family: 'Lato', sans serif;
  	font-weight: 300;
  	background: #FDF8F2;
  	/*letter-spacing: -1px;*/
}

header {
	position: fixed;
	width: 100%;
	height: 300px;
	background-color: #C5D0C1;
	transition: all 1.0s ease;
	padding: 5px;
}

header.sticky {
	line-height: 43px;
	height: 48px;
	background: #828E8C;
	padding: 3px 15px;
}

header a {
	text-decoration: none;
	color: #FFF;
}

header a:hover {
	font-weight: 400;
	color: #F956A0;
	transition: 0.5s;
}

h1 {
	font-size: 3em;
	font-weight: 700;
	line-height: 1.5em;
	letter-spacing: -1px;
}

h2 {
	font-weight: 700;
	font-size: 1.1em;
	line-height: 1em;
	margin-bottom: 5px;
}

.cohort {
	font-size: 0.8em;
	margin-top: 3px;
	font-weight: 400;
}

textarea {
	resize: none;
}

#photo {
	float: left;
	margin-right: 2%;
	height: 100%;
}

#message-input {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -61.5px;
	margin-left: -230px;
}

#about {
	display: block;
	margin-bottom: 10px;
}

#about.sticky {
	display: none;
	transition: all 1.0s ease;
}

.message-container {
	margin: 340px auto 0;
	max-width: 800px;
	transition: all 1.0s ease;
}

.message-container.sticky {
	margin-top: 200px;
}

.message-full {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -61.5px;
	margin-left: -230px;
}

.message-preview {
	width: 98px;
	height: 68px;
	border: solid 1px black;
	float: left;
	padding: 50px 40px;
	background-color: #fff;
}

.message-content {
	margin: 10px 0;
}