header {
	position: fixed;
	width: 100%;
	text-align: left;
	font-size: 3em;
	height: 300px;
  	font-family: 'Open sans', sans serif;
  	font-weight: 400;
	background-color: #C5D0C1;
	transition: all 1.0s ease;
}

header.sticky {
	font-size: 24px;
	line-height: 48px;
	height: 48px;
	background: #828E8C;
	text-align: left;
	padding-left: 20px;
}

textarea {
	resize: none;
}

body {
  background: #FDF8F2;
}

#photo {
	float: left;
	margin-right: 2%;
	height: 100%;
}

#test-post {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -61.5px;
	margin-left: -230px;
}

#about {
	display: block;
}

#about.sticky {
	display: none;
	transition: all 1.0s ease;
}

.message-container {
	margin: 340px auto 0;
	max-width: 800px;
	transition: all 1.0s ease;
  	font-family: 'Open sans', sans-serif;
}

.message-container.sticky {
	margin-top: 100px;
}

/*.this-message {
	width: 98px;
	height: 88px;
	border: solid 1px black;
	float: left;
	padding: 50px;
}*/

.this-message {
	margin-bottom: 15px;
}