body {
  	font-family: 'Lato', sans serif;
  	font-weight: 300;
  	background: #FDF8F2;
}

header {
	position: fixed;
	width: 100%;
	height: 300px;
	background-color: #C5D0C1;
	transition: all 1.0s ease;
	padding: 5px;
}

header.sticky {
	line-height: 43px;
	height: 48px;
	background: #828E8C;
	padding: 3px 5px;
}

header a {
	text-decoration: none;
	font-weight: 400;
	text-shadow: 0 0 1px #777;
	color: #FFF;
}

header a:hover {
	color: #F956A0;
	text-shadow: none;
	transition: 1.0s;
}

h1 {
	font-size: 3em;
	font-weight: 300;
	line-height: 1.5em;
	letter-spacing: -1px;
	margin-bottom: 10px;
}

h2 {
	font-weight: 700;
	font-size: 1.1em;
	line-height: 1em;
	margin-bottom: 5px;
}

p {
	line-height: 1.3em;
}

input {
	font-family: 'Lato', sans serif;
	font-weight: 300;
	font-size: 1em;
	border: dashed 1px #ddd;
	padding: 5px 7px;
}

textarea {
	font-family: 'Lato', sans serif;
	font-weight: 300;
	font-size: 1em;
	resize: none;
	border: dashed 1px #ddd;
	padding: 5px 7px;
	margin-bottom: 15px;
}

button {
	border: none;
	padding: 6px 10px;
	background-color: #ddd;
	font-family: 'Lato', sans serif;
	font-weight: 300;
	font-size: 1em;
}

input:focus, textarea:focus {
	outline: none;
}

#photo {
	float: left;
	margin-left: 8%;
	margin-right: 3%;
	height: 100%;
}

#message-input {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -61.5px;
	margin-left: -230px;
}

#about {
	margin-bottom: 10px;
	padding: 30px 300px 20px 0;
}

#about.sticky {
	display: none;
	transition: all 1.0s ease;
}

.message-container {
	margin: 340px auto;
	max-width: 800px;
	transition: all 1.0s ease;
}

.message-container.sticky {
	margin-top: 200px;
}

.message-preview {
	width: 98px;
	height: 68px;
	float: left;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
	padding: 50px 40px;
	color: #494546;
	text-shadow: 0px 0px 1px #000;
  border: 1px groove gray;
}

.message-full {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -61.5px;
	margin-left: -230px;
	background-color: #FFF;
}

.message-content {
	margin: 15px 0;
}

.cohort {
	font-size: 0.8em;
	margin-top: 3px;
	font-weight: 400;
}

footer{
	height: 100px;
}

.message-preview[id$="a"], .message-preview[id$="b"], .message-preview[id$="c"], .message-preview[id$="d"], .message-preview[id$="Z"], .message-preview[id$="Y"], .message-preview[id$="X"], .message-preview[id$="0"], .message-preview[id$="7"] {
	background-color: #253939;
}

.message-preview[id$="e"], .message-preview[id$="f"], .message-preview[id$="g"], .message-preview[id$="h"], .message-preview[id$="U"], .message-preview[id$="V"], .message-preview[id$="W"], .message-preview[id$="1"], .message-preview[id$="8"] {
	background-color: #558188;
}

.message-preview[id$="i"], .message-preview[id$="j"], .message-preview[id$="k"], .message-preview[id$="l"], .message-preview[id$="Q"], .message-preview[id$="R"], .message-preview[id$="S"], .message-preview[id$="T"], .message-preview[id$="2"] {
	background-color: #FF9C5F;
}

.message-preview[id$="m"], .message-preview[id$="n"], .message-preview[id$="o"], .message-preview[id$="p"], .message-preview[id$="M"], .message-preview[id$="N"], .message-preview[id$="O"], .message-preview[id$="P"], .message-preview[id$="3"] {
	background-color: #FF8B6C;
}
.message-preview[id$="q"], .message-preview[id$="r"], .message-preview[id$="s"], .message-preview[id$="t"], .message-preview[id$="I"], .message-preview[id$="J"], .message-preview[id$="K"], .message-preview[id$="L"] .message-preview[id$="4"] {
	background-color: #C1DAD6;
}

.message-preview[id$="u"], .message-preview[id$="v"], .message-preview[id$="w"], .message-preview[id$="E"], .message-preview[id$="F"], .message-preview[id$="G"], .message-preview[id$="H"], .message-preview[id$="5"], .message-preview[id$="9"] {
	background-color: #C5D0C1;
}

.message-preview[id$="x"], .message-preview[id$="y"], .message-preview[id$="z"], .message-preview[id$="A"], .message-preview[id$="B"], .message-preview[id$="C"], .message-preview[id$="D"], .message-preview[id$="6"] {
	background-color: #828E8C;
  border-style: groove;
}
